



<header>
  <li class="nav-item"><a class="nav-link active" href="a">DEMO APP</a></li>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="a">HOME</a></li>
      <li class="nav-item"><a class="nav-link active" href="a">ABOUT US</a></li>
      <li class="nav-item"><a class="nav-link active" href="a">JOBS</a></li>
      <li class="nav-item"><a class="nav-link active" href="a">CLIENTS</a></li>
      <li class="nav-item"><a class="nav-link active" href="a">EMPLOYERS</a></li>
      <li class="nav-item"><a class="nav-link active" href="a">CONTACT US</a></li>
    </ul>

    <p>I'm looking for....</p>
  <nav>
  <a class="button"
      routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Enter a Job description
  </a> |
  <a class="button"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
   search
  </a>
</nav>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Register</button>
</nav>
</header>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3 mx-auto">
          <img id="blah" [src]="imageSrc || 'http://placehold.it/180'"
          alt="your image" style="width: 100px;height: 100px;"
          />
          <label class="form-label">Choose Image</label>
          <input id="uploadImage" type="file" name="myPhoto"  (change)="readURL($event)" />
          </div>
          <div class="row mb-3">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="firstName"
                placeholder="First Name"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="lastName"
                placeholder="Last Name"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col d-flex align-items-center">
              <label class="form-label me-2">Age:</label>
            <div class="d-block">
              <input type="range" class="form-range" min="20" max="60" formControlName="age" id="customRange2">
              <div class="d-flex">
              <span>20</span>
              <span>60</span>
              </div>
            </div>

            </div>
          </div>
          <div class="row input-group mb-3">
            <div class="col">
                <select class="form-select">
                  <option selected>State</option>
                  <option  value="state" *ngFor="let state of data.states; let i=index" (change)="selectState($event)">{{state}}</option>
                </select>
            </div>
          </div>
          <div class="row input-group mb-3">
            <div class="col">
                <select class="form-select">
                  <option selected >Country</option>
                  <option value="country" *ngFor="let country of data.country; let i=index" (change)="selectState($event)">{{country}}</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <select class="form-select">
                <option selected >Address</option>
                <option>Home</option>
                <option>Company</option>
              </select>
            </div>
            <div class="col mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="addressLine1"
                placeholder="Address Line 1"
              />
            </div>
            <div class="col mb-3">
              <input
              type="text"
              class="form-control"
              id="name"
              formControlName="addressLine2"
              placeholder="Address Line 2"
              />
            </div>
          </div>
          <div class="row input-group mb-3">
            <div class="col">
              <select class="form-select">
                <option selected >Tags</option>
                <option value="Tags" *ngFor="let Tags of data.Tags; let i=index">{{Tags}}</option>
              </select>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="handleSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>



